//////////////////////////////////////// PALETTE
$text: #3B3131;
$bg: #F1F1DC;
$hover: #B5B690;
$link: #46472B;
$accent: #8F0853;

//////////////////////////////////////// TYPOGRAPHY
$base-fontsize: 16px;
$relative-lineheight: 1.5;
$lineheight: $base-fontsize * $relative-lineheight;

@mixin adjust-lineheight($fontsize) {
  line-height: $lineheight * ceil($fontsize / $lineheight);
}

//////////////////////////////////////// CODE COLORING
code[class^=language-] {
  .hll { background-color: #ffffcc }
  .c { color: #888888 } /* Comment */
  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .k { color: #008800; font-weight: bold } /* Keyword */
  .cm { color: #888888 } /* Comment.Multiline */
  .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
  .c1 { color: #888888 } /* Comment.Single */
  .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
  .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #aa0000 } /* Generic.Error */
  .gh { color: #303030 } /* Generic.Heading */
  .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #555555 } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #606060 } /* Generic.Subheading */
  .gt { color: #aa0000 } /* Generic.Traceback */
  .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
  .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
  .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #008800 } /* Keyword.Pseudo */
  .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
  .kt { color: #888888; font-weight: bold } /* Keyword.Type */
  .m { color: #0000DD; font-weight: bold } /* Literal.Number */
  .s, .s-Atom { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
  .na { color: #336699 } /* Name.Attribute */
  .nb { color: #003388 } /* Name.Builtin */
  .nc { color: #bb0066; font-weight: bold } /* Name.Class */
  .no { color: #003366; font-weight: bold } /* Name.Constant */
  .nd { color: #555555 } /* Name.Decorator */
  .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
  .nf { color: #0066bb; font-weight: bold } /* Name.Function */
  .nl { color: #336699; font-style: italic } /* Name.Label */
  .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
  .py { color: #336699; font-weight: bold } /* Name.Property */
  .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
  .nv { color: #336699 } /* Name.Variable */
  .ow { color: #008800 } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
  .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
  .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
  .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
  .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
  .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
  .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
  .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
  .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
  .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
  .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
  .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
  .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
  .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
  .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
  .bp { color: #003388 } /* Name.Builtin.Pseudo */
  .vc { color: #336699 } /* Name.Variable.Class */
  .vg { color: #dd7700 } /* Name.Variable.Global */
  .vi { color: #3333bb } /* Name.Variable.Instance */
  .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
}

//////////////////////////////////////// HACKS & RESET

h1, h2, h3, p, ul, ol, li, dl, dt, dd, pre {
  margin: 0;
  padding: 0;
}

/* Apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*************************************** CLEARFIX*/

/* For modern browsers */
.cf:before,
.cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}

/******************************************* MAIN */

body {
  background: $bg url(/groovepaper.png) repeat;

  font-family: Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: $base-fontsize;
  line-height: $relative-lineheight;

  color: $text;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: $link;
}

a:hover, a.current {
  color: $hover;
}

h1 {
  font-family: Exo;
  font-weight: 200;
  font-size: 2.5em; // 16px * 2.5 = 40px
  @include adjust-lineheight(40px);

  margin-bottom: $lineheight;
}
h2 {
  font-size: 2em; // 16px * 2 = 32px
  @include adjust-lineheight(32px);
}
h3 {
  font-size: 1.5em; // 16px * 1.5 = 24px
  @include adjust-lineheight(24px);
}

/*p {
  margin-bottom: $lineheight;
}*/
p, pre, ul, ol {
  margin: $lineheight 0;
}

ul, ol {
  margin-left: 1.2em;
}
ul.unstyled {
  list-style: none;
  margin: 0;
}

code {
  background: #ffffff;

  display: inline-block;
  padding: 0 0.3em;
  border: 1px solid $hover;

  border-radius: 5px;
}
pre code {
  display: block;
  margin: -10px 0;
  padding: 10px;

  border-radius: 10px;
}

/******************************************* LAYOUT */

.container {
  width: 960px;
  margin: 2*$lineheight auto;
}
.main, .sidebar {
  float: left;
}
.main {
  width: 75%;
}
.sidebar {
  width: 25%;
}

/******************************************* SIDEBAR */

.sidebar {
  padding-right: 1em;
}

.lectures dt {
  color: $accent;
  font-size: 1.125em; // 16px * 1.125 = 18px
  @include adjust-lineheight(18px);
  font-weight: bold;
  text-transform: uppercase;
}
.lectures dd {
  margin-bottom: $lineheight;
}

.notes {
  margin-top: 0;
}

.notes a {
  display: block;
}
.notes em {
  font-style: normal;
}
.notes small {
  display: block;
  font-size: 0.625em; // 16px * 0.625 = 10px
  //line-height: 1em;
}

/******************************************* MAIN */

.main {
  border-left: 1px solid $hover; 
  padding-left: 1em;
}

/******************************************* SPECIFIC */

.special {
  background: #fff;
  padding: 10px 10px 10px 100px;
  border: 1px solid $accent;
  margin: $lineheight - 10px 0;
  border-radius: 10px;
  position: relative;

  &:before {
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    width: 70px;
    font-weight: bold;
    padding: 10px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.def { // definicje
  @extend .special;

  border-color: $accent;
  &:before {
    content: 'Definicja';
    background: $accent;
    color: #fff;
  }  
}

.example { // przykłady
  @extend .special;

  border-color: $hover;
  &:before {
    content: 'Przykład';
    background: $hover;
    color: #fff;
  }  
}

.fact { // przykłady
  @extend .special;

  border-color: $link;
  &:before {
    content: 'Fakt';
    background: $link;
    color: #fff;
  }  
}

ol.def, ol.fact, ol.example {
  padding-left: 120px;
}